<a href="https://colab.research.google.com/github/mahaairshad-shu/MechanicsPython2025/blob/main/Week%202/Wk2_Sess2_Loops_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![SHU](https://drive.google.com/uc?export=view&id=1oauWClN3B2tjg1AeVHtfjAXZg13d9HXL)

#**Modelling Mechanics of Sports Engineering**
##Week 2
###Session 2 - Loops and Code structuring with Functions


<a target="_blank" href="https://github.com/mahaairshad-shu/MechanicsPython2025">
  <img alt="Link to GitHub" src="https://img.shields.io/badge/link_to-GitHub_repo-blue?logo=github&labelColor=black">

</a><a target="_blank" href="https://shuspace.shu.ac.uk/ultra/courses/_355862_1/outline">
  <img alt="Access course folder" src="https://img.shields.io/badge/access_course_files-Folder-yellow">
</a>

✅ **Note: Make sure the AI assistant is turned off**

*Tools> Settings> AI assistance> Hide generative AI features*

* Keep saving your changes! ***Ctrl+S***   all the way!

#2. Loops
Loops are used to repeatedly execute a block of code.

Python provides two main types of loops: for loops and while loops.

## For loops
For loops are used to iterate over a sequence (like a list, tuple, string, or range) or other iterable objects.

In [ ]:
# A simple for loop to iterate over a list of numbers.

numbers = [1, 2, 3, 4, 5]
for number in numbers:  # the number variable will take each value in the list for each iteration
    print(number)

1
2
3
4
5

In [ ]:
# You can also iterate over a string.

message = "Hello, world!"
for letter in message:
    print(letter)

H
e
l
l
o
,

w
o
r
l
d
!

In [ ]:
# The `range()` function generates a sequence of numbers, which is commonly used with for loops.

for i in range(5): # range(5) will generate numbers from 0 to 4.
    print(i)

0
1
2
3
4

In [ ]:
for i in range(2, 8): # range(2, 8) will generate numbers from 2 to 7.
    print(i)

2
3
4
5
6
7

In [ ]:
for i in range(2, 10, 2): # range(2, 10, 2) will generate numbers from 2 to 8 with a step of 2.
    print(i)

2
4
6
8

In [ ]:
# Looping with an index

# If you need the index of each item in the sequence, you can use the `enumerate()` function.

fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):  # enumerate generates both index and value
    print(f"Fruit at index {index} is {fruit}")

Fruit at index 0 is apple
Fruit at index 1 is banana
Fruit at index 2 is cherry

In [ ]:
# Assuming a 3x3 array/matrix
my_array = [[11, 12, 13], [21, 22, 23], [31, 32, 33]] #note that this lis a list of lists, not a numpy array

# Nested for loops to iterate through the array
for i in range(len(my_array)):  # Iterate through rows
    for j in range(len(my_array[i])):  # Iterate through columns
        print(my_array[i][j])  # Print each element with a space

11
12
13
21
22
23
31
32
33

###List comprehensions
A concise way to create new lists based on existing lists.

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = [number**2 for number in numbers]
print(squares) # list containing squared values

[1, 4, 9, 16, 25]

In [ ]:
# we can also put condition

even_squares = [number**2 for number in numbers if number % 2 == 0]
print(even_squares) # only the even numbers get squared

[4, 16]

###Loop control statements
- break: Terminates the loop prematurely.
- continue: Skips the current iteration and proceeds to the next.

In [ ]:
# Example using 'break'

for i in range(10):
    if i == 5:
        break  # exit the loop when i is 5
    print(i) # output won't go beyond 4

0
1
2
3
4

In [ ]:
# Example using 'continue'

for i in range(10):
    if i % 2 == 0: # skip if it is even. '%' is called a Modulo operator that returns the remainder from division
        continue   # go to the next iteration
    print(i)       # only odd numbers will be printed

1
3
5
7
9

##While loops

While loops execute a block of code as long as a given condition is true.

Choose the right loop

In general, use for loops when you know in advance how many times you need to iterate.  Use while loops when the number of iterations is not predetermined or depends on a condition.

In [ ]:
# Basic while loop

count = 0
while count < 5:
    print(count)
    count += 1  # Increment the counter, important! Avoid infinite loops

0
1
2
3
4

In [ ]:
# While loop with break
# 'while True:' creates an infinite loop
# we can add a condition to break the loop

count = 0
while True:
    if count >= 5:
        break
    print(count)
    count += 1

0
1
2
3
4

In [ ]:
# Infinite loops (use with caution and make sure there's a way to break out)
#while True:
#  print("This will run forever!")  #unless you manually stop the kernel or add break

❗You might remember the matrix multiplication numpy operation (np.dot) from last week. Use loops to perform matrix multiplication between lists A and B. A double nested loop has already been created❗
- a null matrix (result) has been created. Use the loops to fill it.
- check your answers by comparing with np.dot()



![image.png]()

**2** x 2   *    2 x **2**     =   2 x 2


  A    *     B        =    result

In [ ]:
A = [[3, 6], [5, 4]]
B = [[7, 1], [2, 9]]


result = [[0 for i in range(len(B[0]))] for j in range(len(A))] # a resultant list created using list comprehension
# to get size of a 2D list
# row = len(A)
# col = len(A[0])

for i in range(len(A)):
    for j in range(len(B[0])):
        for k in range(len(B)):
            result[i][j] +=  #write code here
print(result)

[[0, 0], [0, 0]]

#Functions
- Functions are blocks of reusable and organised code that usually perform a single, related action.
- They are a crucial part of programming because they save you a lot of time and make your code cleaner.
- The variables inside a function are only known inside its environment - local variables

You've probably used many functions until now without realizing. Remember np.sum() or np.mean()

In [ ]:
# a simple example of a function to add 2 numbers

# a function is defined once in a code
def add(x, y): # input(s)/argument(s) in parenthesis with function name, separated by comma(s)
  """This function adds two numbers and returns the result."""
  return x + y

  #the indentation is crucial

sum_result1 = add(5, 3) # calling a function
print(sum_result1)

sum_result2 = add(10, 20) # you can call a function as many times as required
print(sum_result2)

8
30

the np.sum() function does something like the following:

In [ ]:
import numpy as np

a = np.array([1, 2, 3, 4, 5])

def mySum(x):
  sum = 0
  for i in x:
    sum = sum + i
  return sum

mySum(a)

15

### Variable Scope

In [ ]:
# Variables defined inside a function are local to that function.  They can't be accessed outside of the function.

def my_function():
  x = 10
  print(x) # Accessing x inside the function is fine

my_function()
# print(x)  # This will cause an error! x is not defined outside my_function

10

If we need to make changes to a variable existing outside the function (global variable), it needs to be defined in the beginning of the function

In [ ]:
x = 0
def my_function():
  global x
  x = 10

my_function()
print(x) # This wouldn't cause any errors

10

❗Can you write a function myMean() to return the mean of all the elements of an array❗

In [ ]:
#def myMean(x):
  # Write code here
  #
  #
  #return result

a = np.array([1, 2, 3, 4, 5])
#myMean(a)

### Keyword arguments

In [ ]:
# When calling a function, you can use keyword arguments to specify the values for arguments by their names.  This makes the code more readable, especially when functions have many arguments.

def describe_pet(animal_type, pet_name):
  """Display information about a pet."""
  print(f"\nI have a {animal_type}.")
  print(f"My {animal_type}'s name is {pet_name.title()}.")

describe_pet(pet_name='Harry', animal_type='hamster') # Order does not matter when using keyword args

I have a hamster.
My hamster's name is Harry.

### Default argument value

In [ ]:
# your function can also have default input incase the input was not set while calling.
def describe_pet(pet_name, animal_type='dog'): # the default arguments can only be set after the non-default ones
  """Display information about a pet."""
  print(f"\nI have a {animal_type}, named {pet_name}.")

describe_pet('Henrietta')
# here, if you try calling the function with unknown pet_name, it will raise an error
#describe_pet(animal_type='porcupine')

I have a dog, named Henrietta.

### Multiple outputs

In [ ]:
# Similar to having multiple inputs/arguments, your function can also have multiple outputs

def calculate_stats(data):
  """Calculate mean and standard deviation of a NumPy array."""
  mean = np.mean(data)
  std_dev = np.std(data)
  return mean, std_dev # return multiple values as a tuple

my_data = np.array([1,2,3,4,5])
average, deviation = calculate_stats(my_data) # unpack the tuple
print(f"Mean: {average}, Standard Deviation:{deviation}")

Mean: 3.0, Standard Deviation:1.4142135623730951

❗You are doing data entry to upload bio data of a team. Can you write a function to update the person in myDict to save time?❗
- notice that myDict exists outside the function. The changes should be made to the dictionary directly
- upload a default age of np.nan, if not shared

In [ ]:
myDict= {}
myDict["DavidH"] = {"age": 30, "gender": "Male"}

#def addMember():
  # Write code here
  #
  #

#addMember("JohnK", 25, "Male")
print(myDict)

{'DavidH': {'age': 30, 'gender': 'Male'}}

###Docstrings
Although our solutions to the previous exercises do work, they could be much more documented. Keep in mind that code is written once, often by only one programmer, but it is read many times after, often by other people. An undocumented function is usually clear to the programmer while it is being written, but will it be months later?

Docstrings are the most important way to document functions. A docstring is a string that documents a function. While being optional, it is helpful in any code other than very simple scripts. A standard docstrings is a triple-quote string placed just below the function signature. Minimally, a docstring clearly indicates:

- What the function does

- What are the types and contents of every expected parameter

- What are the type and contents of the return value, if any.

Following is a good example of adding docstring to your function.


[ref](https://kineticstoolkit.uqam.ca/doc/python_functions_docstrings.html)

In [ ]:
def format_info(i_participant, first_name, last_name, age, height, weight):
    """
    Format the provided information into a human-readable string.

    Parameters
    ----------
    i_participant : int
        Identifier for the participant
    first_name : str
        First name (given name) of the participant
    last_name : str
        Last name (surname) of the participant
    age : float
        Age of the participant, in years
    height : float
        Height of the participant, in meters
    weight : float
        Weight of the participant, in kg

    Returns
    -------
    str
        A human-readable string based on the provided information.

    """
    output = (
        "=============\n"
        f"Participant {i_participant}: {first_name} {last_name}\n"
        f"{age} years old\n"
        f"Height: {height} m\n"
        f"Weight: {weight} kg\n"
        f"BMI: {weight / (height ** 2):.2f}\n"
        "============="
    )
    return output